[Unit]
Description=WebSocket Proxy By Ilyass
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
User=root
WorkingDirectory=/root
ExecStart=/usr/bin/python /usr/local/bin/WebSocket 700
Restart=always
RestartSec=3s
[Install]
WantedBy=multi-user.target
